<div class="container">
  <h1>Angular Pipes</h1>
  <p>Wait for it...{{promise | async}}</p>
  <p>Date: {{date | async | date: 'HH:mm:ss yyyy'}}</p>

  <button (click)="searchField = 'title'" class="btn">filter Title</button>
  <button (click)="searchField = 'text'" class="btn">filter Text</button>

  <button (click)="addPost()" class="btn">Add post</button>
  <input type="text" [(ngModel)]="search">
  <p class="hide">
    {{10 | mult}}
    {{10 | mult:10}}
  </p>

  <p class="hide">{{'Hello World      ' | exMarks}}</p>

  <div *ngFor="let post of posts | filter:search:searchField" class="card">
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
  </div>
</div>
